name: flutter_stacked
description: A new Flutter project.

publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.0

  # State Management
  stacked: ^1.9.0

  # Navigation  
  stacked_services:

dev_dependencies:
  flutter_test:
    sdk: flutter
  
  build_runner:
  stacked_generator:

flutter:
  uses-material-design: true
